<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thewebopsclubiitm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/webopslogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.thewebopsclubiitm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.thewebopsclubiitm.AlarmReceiver"></activity>
        <activity android:name="com.example.thewebopsclubiitm.DisplayUpdateActivity"></activity>
        <activity android:name="com.example.thewebopsclubiitm.SplashActivity"></activity>
        <activity android:name="com.example.thewebopsclubiitm.Update"></activity>        
        <activity android:name="com.example.thewebopsclubiitm.UpdateDbService"></activity>        
        <activity android:name="com.example.thewebopsclubiitm.UpdatesListActivity"></activity>
    </application>

</manifest>
